<!DOCTYPE html>
<html>
<head>
  <title></title>

  <style type="text/css">
    .div-style {
      margin: 20px auto; 
      width: 40%; 
      text-align: center; 
      border: 1px solid black; 
      padding: 10px 0;
      }
  </style>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="message" class="div-style">
  	{{ m }}

  	<p>{{ m2 }}</p>
  </div>

  <div id="m2" class="div-style" v-bind:title="title_message">
    Hover Here!
  </div>

  <div id="m3" class="div-style" v-if="display">
    <span>
      See Mee No More
    </span>
  </div>

  <div id="m4" class="div-style">
    <ol>
      <li v-for="line in list">
        {{ line.text }}
      </li>
    </ol>
  </div>

  <div id="m5" class="div-style">
    <p>{{ text }}</p>
    <button v-on:click.once='reverse_message'>Reverse the text</button>
    <br>
    <input v-model='text'>
  </div>

  <div id="m6" v-on:mouseover="updateXY" class="div-style" style="width: 50%; height: 300px;">
    <h3>Mouseover to view coordinates</h3>
    <p>{{ x }},{{ y }}</p>
  </div>

  <script type="text/javascript">

  	var app = new Vue({
  	  el: '#message',
  	  data: {
  	  	m: 'welcome to vue.js',
  	  	m2: 'this is message 2'
  	  }
  	})
    var tm = new Vue({
      el: '#m2',
      data: {
        title_message: 'you hovered this div on' + new Date().toLocaleString() 
      }
    })
    var m3 = new Vue({
      el: '#m3',
      data: {
        display: true 
      }
    })
  	var m4 = new Vue({
      el: '#m4',
      data: {
        list: [
          { text: 'line1' },
          { text: 'something' },
          { text: 'line3' }, 
        ]
      }
    })
    var m5 = new Vue({
      el: '#m5',
      data: {
        text: 'Hydra Ship' 
      },
      methods: {
        reverse_message: function () {
          this.text = this.text.split('').reverse().join('')
        }
      }
    })

   var m6 = new Vue({
    el: '#m6',
    data: {
      x: 0,
      y: 0
    },
    methods: {
      updateXY: function(e){
        this.x = e.offsetX
        this.y = e.offsetY
      }
    }
   })
  </script>
</body>

</html>