<!DOCTYPE html>
<html>
<head>
  <title></title>

  <style type="text/css">
    .div-style {
      margin: 20px auto; 
      width: 40%; 
      text-align: center; 
      border: 1px solid black; 
      padding: 10px 0;
      }

    .bgcolor {background: dodgerblue !important}
    .border{border: 5px solid black}
    .bottom-margin {margin-bottom: 15px;}

  </style>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="message" class="div-style" :class="classNames()" ref="div1">
  	{{ m }}

  	<p>
      {{ m2 }}
    </p>
    <button @click="value = !value" class="bottom-margin">click to change color</button>
    <br>
    <p> Age : {{ age }} </p>
    <p> A : {{ a }} </p>
    <p> B : {{ b }} </p>
    <button @click='a++'>Add to A</button>
    <button @click='b++'>Add to B</button>
    <p>
      Age + A: {{ addtoA }}
    </p>
    <p>
      Age - B: {{ addtoB }}
    </p>
    <div class="div-style" v-on:mouseover='display = !display'>
      <span v-show="display"> 
        MY display prop can be set to none
      </span>
    </div>

    <div class="div-style" v-if="false">div 1</div>
    <div v-else class="div-style"> div 2</div>

    <com></com>

  </div>

  <div id="m2" class="div-style" v-bind:title="title_message" :class={bgcolor:value}>
    Hover Here!
    <p v-html="link"></p>
    <li v-for='person in persons'>
      <div v-for='(value,i) in person'>
        {{ i }}: {{ value }}
      </div>
      <!-- <h3>{{ person.name }}</h3>
      <li> {{person.age}}  </li>
      <li> {{ person.gender }}</li> -->
    </li>
  </div>

  <div id="change_button" style="text-align: center">
    <button @click="change_style"> click to change view of above div </button>
  </div>

  <div id="m3" class="div-style" v-if="display">
    <span>
      See Mee No More
    </span>
    <com></com>
  </div>

  <div id="m4" class="div-style">
    <ol>
      <li v-for="line in list">
        {{ line.text }}
      </li>
    </ol>
  </div>

  <div id="m5" class="div-style bottom-margin">
    <p>{{ text }}</p>
    <button v-on:click='reverse_message'>Reverse the text</button>
    <br>
    <input v-model='text'>
  </div>

  <div id="m6" v-on:mouseover="updateXY" class="div-style" style="width: 50%; height: 300px;">
    <h3>Mouseover to view coordinates</h3>
    <p>{{ x }},{{ y }}</p>
  </div>

  <script type="text/javascript">

    Vue.component("com",{
     template: "<p>Hello, I am a reusable component</p>"
    })

  	var app = new Vue({
  	  el: '#message',
  	  data: {
  	  	m: 'welcome to vue.js',
  	  	m2: 'this is message 2',
        value: false,
        age: 20,
        a:0,
        b:0,
        display: true,
  	  },
      computed: {
        addtoA: function(){
          console.log('add to A')
          return this.age+this.a           

        },
        addtoB: function(){
          console.log('add to B')
            return this.age+this.b            
        }        

      },
      watch: {
        a: function(){
          var v = this
          console.log('value of "a" changed')
          setTimeout(function(){
            v.a = 0
          },2000)
        },
        b: function(){
          var v = this
          console.log('value of "a" changed')
          setTimeout(function(){
            v.b = 0
          },2000)
        }
      },
      methods: {
       classNames: function(){
         return {
           bgcolor: this.value,
           border: this.value
         }
       }

      }
      
  	})

    app.$refs.div1.style.background = 'tomato'

    var tm = new Vue({
      el: '#m2',
      data: {
        title_message: 'you hovered this div on' + new Date().toLocaleString(),
        link: "<a href='https://berylsystems.com'>Beryl Systems</a>",
        persons: [
          {name:'John', age:'21', gender:'M'},
          {name:'Mindy', age:'21', gender:'F'},
          {name: 'Bing', age:'24', gender:'M'}
        ],
        value: false
      }
    })
    var m3 = new Vue({
      el: '#m3',
      data: {
        display: true 
      }
    })
  	var m4 = new Vue({
      el: '#m4',
      data: {
        list: [
          { text: 'line1' },
          { text: 'something' },
          { text: 'line3' }, 
        ]
      }
    })
    var m5 = new Vue({
      el: '#m5',
      data: {
        text: 'Hydra Ship' 
      },
      methods: {
        reverse_message: function () {
          this.text = this.text.split('').reverse().join('')
        }
      }
    })

   var m6 = new Vue({
    el: '#m6',
    data: {
      x: 0,
      y: 0
    },
    methods: {
      updateXY: function(e){
        this.x = e.offsetX
        this.y = e.offsetY
      }
    }
   })

   new Vue({
     el: '#change_button',
     methods: {
       change_style: function(){
         tm.value = !tm.value
       } 
     }  
   })

   

  </script>
</body>

</html>